html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* section header */
.section-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-wrap: wrap;
  background-color: powderblue;
  color: #0d0950;
  padding: 8px 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

.section-header .main {
  flex: 0 0 auto;
  width: max-content;
  font-size: 1.2 rem;
  font-weight: 700;
}

.section-header .description {
  flex: 1 1 0;
  font-size: 1 rem;
  font-weight: 500;
}

/* nav styles */
.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #0d0950;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: powderblue;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
  position: absolute;
  top: 40px;
  left: 0px;
  background-color: dimgrey;
}

/* dark mode */
html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .menu {
  color: #fff;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #0d0950;
}

.dark .nav-links a {
  color: #fff;
}

.dark a {
  color: #ff9776;
}

@media screen and (min-width: 636px) {
  .section-header {
    flex-direction: row;
    align-items: center;
  }

  .nav-links {
    flex: 14;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 8px 20px;
  }

  .menu {
    visibility: hidden;
  }

  nav div {
    flex: 0 0 auto;
  }

  .card {
    flex-direction: row;
    max-width: 800px;
  }
  .image-container img {
    width: 40%; /* Image takes 40% of width in horizontal mode */
  }
}
