---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
const pageTitle = "Tag Index | Gde Juliartha";
---

<BaseLayout pageTitle={pageTitle}>
  <main id="main-content">
    <h1>All article tags</h1>
    <div class="tags">
      {
        tags.map((tag) => (
          <p class="blog-tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>
  </main>
  <style>
    a {
      text-decoration: none;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  </style>
</BaseLayout>
