---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await getCollection("blog");
const tags = [
  ...new Set(allPosts.map((post: any) => post.data.tags).flat())
];
const pageTitle = "Tag Index | Gde Juliartha";
---

<BaseLayout pageTitle={pageTitle}>
  <main id="main-content">
    <h1>All article tags</h1>
    <div class="tags">
      {tags.map((tag) => (
          <p class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))}
    </div>
  </main>
  <style>
    h1 {
      margin: 1rem 0;
      font-size: clamp(1.5rem, 1rem + 3vw, 2.5rem);
      font-family: var(--font-lato);
      font-weight: 900;
    }

    a {
      color: #00539f;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
    }

    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: 0.5em;
      padding: 0.5em 1em;
      font-size: 1.15em;
      background-color: #f8fcfd;
    }
  </style>
</BaseLayout>
