---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About me | Gde Juliartha";

const designSkills = [
  "Figma",
  "Wireframing",
  "HiFi Design",
  "Prototyping",
  "In-depth interview",
  "User testing",
  "Writing Docs",
];

const webDevSkills = [
  "HTML",
  "CSS",
  "JavaScript",
  "Astro",
  "VS Code",
  "Cursor",
];
---

<BaseLayout pageTitle={pageTitle}>
  <h1>About me</h1>
  <h2>
    Product designer, web designer, and developer with experience in marketing
    and research.
  </h2>
  <p>
    Hi, I’m Gde Juliartha, a product and web designer currently compounding
    skills in web development. I have worked with clients across legal tech,
    fintech, and B2B SaaS as a designer. I’ve had the experience of helping
    large organizations and small startup teams to solve their internal and
    customer problems.
  </p>
  <p>
    I’ve had 6+ years of nonlinear career over various roles in a tech startup
    and a design/research studio that built my experience around designing
    systems and understanding customer behavior. I started my career as a
    partnership marketing executive in one of the ride hailing startups in
    Indonesia where I ran marketing campaigns with business partners that drove
    usage and awareness of the app. Then I worked in a design/research studio
    where I had the chance to explore multiple roles as UX designer, design
    strategist, and qualitative researcher. In the studio I worked with tech
    startups, legal tech enterprises, FMCG brands, and banking brands.
  </p>
  <p>
    After spending 4+ years juggling multiple roles as a designer and
    researcher, I decided to pursue more experience as a builder. As of early
    2026, I am focusing on design and development work.
  </p>
  <div id="skills">
    <h2>Skills and tools</h2>
    <p>Design and research</p>
    <ul>
      {designSkills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    <p>Web development</p>
    <ul>
      {webDevSkills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </div>
  <div id="contact">
    <h2>Contact</h2>
    <p>
      I am always open to new opportunities. I can be reached at <a
        href="mailto:gd.juliarthaa@gmail.com">gd.juliarthaa@gmail.com</a
      >.
    </p>
  </div>

  <style>
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  </style>
</BaseLayout>
