---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About me | Gde Juliartha";

const designSkills = [
  "Figma",
  "Wireframing",
  "HiFi Design",
  "Prototyping",
  "In-depth interview",
  "User testing",
  "Writing Docs",
];

const webDevSkills = [
  "HTML",
  "CSS",
  "JavaScript",
  "Astro",
  "VS Code",
  "Cursor",
];
---

<BaseLayout pageTitle={pageTitle}>
  <h1>About me</h1>
  <h2>
    Product designer, web designer, and developer with experience in marketing
    and research.
  </h2>
  <p>
    Hi, I’m Gde Juliartha, a product and web designer currently compounding
    skills in web development. I have worked with clients across legal tech,
    fintech, and B2B SaaS as a designer. I’ve had the experience of helping
    large organizations and small startup teams to solve their internal and
    customer problems.
  </p>
  <p>
    I’ve had 6+ years of nonlinear career over various roles in a tech startup
    and a design/research studio that built my experience around designing
    systems and understanding customer behavior. I started my career as a
    partnership marketing executive in one of the ride hailing startups in
    Indonesia where I ran marketing campaigns with business partners that drove
    usage and awareness of the app. Then I worked in a design/research studio
    where I had the chance to explore multiple roles as UX designer, design
    strategist, and qualitative researcher. In the studio I worked with tech
    startups, legal tech enterprises, FMCG brands, and banking brands.
  </p>
  <p>
    After spending 4+ years juggling multiple roles as a designer and
    researcher, I decided to pursue more experience as a builder. As of early
    2026, I am focusing on design and development work.
  </p>
  <div id="skills">
    <h2>Skills and tools</h2>
    <p>Design and research</p>
    <ul>
      {designSkills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    <p>Web development</p>
    <ul>
      {webDevSkills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </div>
  <div id="contacts">
    <h2>Find me</h2>
    <p></p>
    <ul>
      <li>
        <!--
category: Communication
tags: [inbox, gmail, email, envelope, message]
version: "1.0"
unicode: "eae5"
-->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#607d8b"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
          ></path>
          <path d="M3 7l9 6l9 -6"></path>
        </svg>
        <a href="mailto:gd.juliarthaa@gmail.com">gd.juliarthaa@gmail.com</a>
      </li>
      <li>
        <!--
tags: [logo, website, corporation, work, business, internet]
category: Brand
version: "1.15"
unicode: "ec8c"
-->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#607d8b"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
          ></path>
          <path d="M8 11l0 5"></path>
          <path d="M8 8l0 .01"></path>
          <path d="M12 16l0 -5"></path>
          <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
        </svg>
        <a href="https://www.linkedin.com/in/gdejuliartha/">gdejuliartha</a>
      </li>
      <li>
        <!--
tags: [logo, website, hosting, project, programming, software, development]
category: Brand
version: "1.18"
unicode: "ec1c"
-->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#607d8b"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
          ></path>
        </svg>
        <a href="https://github.com/gdejules">@gdejules</a>
      </li>
      <li>
        <!--
category: Brand
version: "2.45"
unicode: "fd75"
-->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#607d8b"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M6.335 5.144c-1.654 -1.199 -4.335 -2.127 -4.335 .826c0 .59 .35 4.953 .556 5.661c.713 2.463 3.13 2.75 5.444 2.369c-4.045 .665 -4.889 3.208 -2.667 5.41c1.03 1.018 1.913 1.59 2.667 1.59c2 0 3.134 -2.769 3.5 -3.5c.333 -.667 .5 -1.167 .5 -1.5c0 .333 .167 .833 .5 1.5c.366 .731 1.5 3.5 3.5 3.5c.754 0 1.637 -.571 2.667 -1.59c2.222 -2.203 1.378 -4.746 -2.667 -5.41c2.314 .38 4.73 .094 5.444 -2.369c.206 -.708 .556 -5.072 .556 -5.661c0 -2.953 -2.68 -2.025 -4.335 -.826c-2.293 1.662 -4.76 5.048 -5.665 6.856c-.905 -1.808 -3.372 -5.194 -5.665 -6.856z"
          ></path>
        </svg>
        <a href="https://bsky.app/profile/juliartha.bsky.social"
          >@juliartha.bsky.social</a
        >
      </li>
      <li>
        <!--
category: Brand
version: "2.25"
unicode: "fb02"
-->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#607d8b"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M19 7.5c-1.333 -3 -3.667 -4.5 -7 -4.5c-5 0 -8 2.5 -8 9s3.5 9 8 9s7 -3 7 -5s-1 -5 -7 -5c-2.5 0 -3 1.25 -3 2.5c0 1.5 1 2.5 2.5 2.5c2.5 0 3.5 -1.5 3.5 -5s-2 -4 -3 -4s-1.833 .333 -2.5 1"
          ></path>
        </svg>
        <a href="https://www.threads.com/@gdejuliartha">@gdejuliartha</a>
      </li>
    </ul>
  </div>

  <style>
    .skill {
      font-family: var(--font-merriweather);
      font-weight: 600;
      text-transform: uppercase;
    }
  </style>
</BaseLayout>
