---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Gde Juliartha Arief";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Hi, I'm Gde Juliartha</h1>
  <h2>A designer and creative web developer who strive to build delightful digital experiences</h2>

  <style>
    h1 {
      margin: 1rem 0;
      font-size: 2.5rem;
      font-family: var(--font-lato);
      font-weight: 900;
    }

    h2 {
      font-family: var(--font-lato);
      font-weight: 700;
    }

    p {
      font-family: var(--font-merriweather);
      font-weight: 400;
    }
  </style>
</BaseLayout>