---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Gde Juliartha Arief";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Hi, I'm Gde Juliartha</h1>
  <h2>A designer and creative web developer who strive to build delightful digital experiences</h2>
</BaseLayout>