---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Gde Juliartha";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Hi, I'm Gde Juliartha Arief</h1>
  <h2>A product designer and creative web developer who strive to build delightful digital experiences.</h2>
  <p>
    Recently I'm exploring web development practices and learning about static-site generator including Astro framework which is the base of this website. Prior to this year, my work experiences ranging from marketing, ui/ux design, user research, market research, and content writing. I like to brainstorm ideas to solve problems and design experiences.
  </p>
  <p>
    I build this site as my digital garden where I can pour any ideas, thoughts, experiences, and work stuffs. This garden is still continously built and its 'plants' will be added periodically.
  </p>
</BaseLayout>