---
import ThemeIcon from "./ThemeIcon.astro";
import Menu from "./Menu.astro";
import Navigation from "./Navigation.astro";
---
<header>
    <nav>
      <Navigation />
        <div>
          <Menu />
          <ThemeIcon />
        </div>
    </nav>
</header>

<style>
  header {
    max-height: min-content;
  }

  nav {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  div {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>