---

---
<button aria-expanded="false" aria-controls="main-menu" class="menu">
<svg class="w-[30px] h-[30px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 24 24">
  <path class="hamburger" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h10"/>
</svg>
</button>

<style>
  .menu {
    display: flex;
    align-items: center;
    border: 0;
    background: none;
  }
</style>