---
import '../styles/global.css';
---
<header id="top-banner" class="section-banner">
    <div class="top-wrapper">
        <div class="main">Work in progress.</div>
        <div class="description">I'm building this site live, piece by piece. Inspired by <a href="https://piccalil.li/projects/personal-site/">Andy Bell</a>. Thanks for stopping by!</div>
    </div>
</header>