---
import '../styles/global.css';
---
<header id="top-banner" class="section-banner">
    <div class="top-wrapper">
        <div class="main">Building in public.</div>
        <div class="description">Building this site live, piece by piece. Thanks for stopping by! Inspired by <a href="https://piccalil.li/projects/personal-site/">Andy Bell</a>.</div>
    </div>
</header>