---
import '../styles/global.css';
---
<div class="section-header">
    <div class="main">Continously improved</div>
    <div class="description">This website is built in iterations and the contents will be added regularly (hopefully! ✌🏼). Hugely inspired by <a href="https://piccalil.li/projects/personal-site/">Andy Bell</a>.</div>
</div>