---
import '../styles/global.css';
---
<header id="top-banner" class="section-banner" style="margin-bottom: 2rem;">
    <div class="top-wrapper">
        <div class="main">Work in progress</div>
        <div class="description">This website is built in iterations and the contents will be added regularly (hopefully! ✌🏼). Hugely inspired by <a href="https://piccalil.li/projects/personal-site/">Andy Bell</a>.</div>
    </div>
</header>